* {
  /* outline: 1px solid magenta; */
}
.app_root {
  background-color: #ebecf0;
  text-align: center;
  font-family: serif;
  color: gray;
  padding: 20px 60px 70px 60px;
}
.app_logoutIcon {
  background-color: transparent;
  color: dimgray;
  margin-top: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}
.app_button {
  background-color: transparent;
  padding-top: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}
.app_logout {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.add_button {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 300px;
  height: 45px;
  border: 0;
  color: dimgray;
  border-radius: 50px;
  background: #ebecf0;
  box-shadow: 10px 10px 20px #c8c9cc, -5px -5px 20px #ffffff;
  font-size: 20px;
  transition: box-shadow 0.4s ease-in-out;
}

.add_button:hover {
  background-color: #ebecf0;
  box-shadow: -4px -4px 6px 2px #c8c9cc, 2px 2px 3px 1px #ffffff;
  cursor: pointer;
}
