.card {
  margin: 0px auto;
  padding: 20px 10px 0px;
  border-radius: 20px;
  width: 1200px;
  height: 100px;
}
.card:hover {
  background-color: #ebecf0;

}
.area{
  display: flex;
  justify-content: space-evenly;
  margin: 10px 300px;
}
.title {
  display: flex;
  justify-content: center;
  color: #0f27b1;
  margin: 0px auto 10px;
}
.deadline {
  width: 130px;
}
.task {
  width: 170px;
}
.description{
  width: 200px;
}
.status{
  width: 140px;
}
.category{
  width: 140px;
}

.addIcon {
  margin-bottom: 20px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  border: none;
  margin-top: 10px;
  color: dimgray;
  border-radius: 90px;
  background: #ebecf0;
  box-shadow: 10px 10px 20px #c8c9cc, -5px -5px 20px #ffffff;
  transition: box-shadow 0.2s ease-in-out;
}
.addIcon:hover {
  background-color: #ebecf0;
  box-shadow: -2px -2px 3px 1px #c8c9cc, 2px 2px 3px 1px #ffffff;
  cursor: pointer;
}

.modal_bg {
  background-color: rgba(200, 200, 200, 0.2);
}
.modal {
  background-color: #ebecf0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 100px;
  text-align: center;
  justify-content: center;
  display: flex;
  position: relative;
}
.add_button {
  width: 100px;
  height: 40px;
  border: none;
  margin-top: 30px;
  background: #ebecf0;
  box-shadow: 5px 5px 20px #c8c9cc, -5px -5px 20px #ffffff;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}
.add_button:hover {
  background-color: #ebecf0;
  box-shadow: -2px -2px 3px 1px #c8c9cc, 2px 2px 3px 1px #ffffff;
  cursor: pointer;
}

.field{
  margin-right: auto;
  justify-content: center;
}

.save_btn_style{
  display: flex;
  justify-content: center;
}

.save_btn {
  height: 35px;
  width: 150px;
  border: 0;
  color: dimgray;
  border-radius: 10px;
  background: #ebecf0;
  box-shadow: 5px 5px 20px #c8c9cc, -5px -5px 20px #ffffff;
  font-size: 20px;
  transition: box-shadow 0.2s ease-in-out;
}
.save_btn:hover {
  background-color: #ebecf0;
  box-shadow: -2px -2px 3px 1px #c8c9cc, 2px 2px 3px 1px #ffffff;
  cursor: pointer;
}
