.card {
  width: 80%;
  height: 60%;
  min-height: 100%;
  border-radius: 20px;
  box-shadow: 20px 20px 40px #c8c9cc, -10px -10px 30px #ffffff;
  transition: box-shadow 0.4s ease-in-out;
}
.card:hover {
  background-color: #ebecf0;
  box-shadow: -2px -2px 3px 1px #c8c9cc, 2px 2px 3px 1px #ffffff;
}

.table {
  margin: 40px 40px 40px 30px;
  min-width: 80%;
}

.avatar {
  margin: 0px 0px 0px 20px;
}

.list_icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  margin-top: 10px;
  color: dimgray;
}

.list_hover {
  border: 3px;
}
.button :disabled {
  color: white;
  cursor: none;
}
.edit_delete {
  font-weight: bold;
}

.red {
  font-size: medium;
  color: red;
}
.blue {
  font-size: medium;
  color: blue;
}
.green {
  font-size: medium;
  color: green;
}

.modal{
}
